$black: #0C0C0C;
$gray-darker: #4A4A4A;
$gray: #C4C4C4;
$green-darker: #4A8616;
$green-lighter: #6AB429;
$green-medium: #6AB429;
$principal-background: #E5E5E5;
$white-elementary: #F8F8F8;
$white: #FFFFFF;
