.container-information {
  position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 64px);
  text-align: center;
  overflow-x: hidden;

  &__girl {
    overflow: hidden;
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 0;

    @include desktop {
      width: initial;
      left: initial;
      bottom: 10px !important;
      right: -30px !important;
    }
  }

  &__guy {
    display: none;

    @include desktop {
      display: block;
      position: absolute;
      left: -30px;
      bottom: 0;
    }
  }

  &__title {
    color: $black;
    font-family: $cocogoose;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 5%;
    margin: 5rem 1rem 0 1rem;

    @include desktop {
      font-size: 3.75rem;
      line-height: 70px;
      margin: 0 auto;
      margin-top: 8rem;
      width: 50rem;
    }
  }

  &__subtitle {
    color: $gray-darker;
    font-family: $roboto;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 1rem 1rem 3rem;

    @include desktop {
      font-size: 1.1rem;
    }
  }

  &__button {
    background-color: $gree-button;
    border-radius: 3.75rem;
    border: none;
    box-shadow: 0 0.5rem 2rem $green-shadow;
    color: $white;
    font-family: $roboto;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 12rem;
    padding: 0.7rem 2.75rem;
    text-decoration: none;
    transition: background-color 0.1s ease-in;
    text-transform: uppercase;
  }

  &__button:hover {
    background-color: $green-lighter;
  }


  &_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
}
