.wavey {
  .wavey-container {
		height: 150px; 
		overflow: hidden;
	}

	.wavey-container-right{
		background-color: $black;	
	}

	.wavey-container-left{
		background-color: $white-elementary;
	}
    
	.wavey-sizes{
		height: 100%; 
		width: 100%;
	}
	
	.wavey-right{
		stroke: none;
		fill: $white-elementary;
	}

	.wavey-left{
		stroke: none;
		fill: $white;
	}
}